body {
    background-color: aliceblue;
    background: radial-gradient(circle,rgba(240, 248, 255, 1)0%, rgba(148, 187, 233, 1)100%);
}

h1 {
    color: darkorange;
}
h1, h2, h3, h4, h5, h6{
    font-size: 25px;
}
p {
    background-color: blueviolet;
    color: #ffefe3;
}